<main data-ng-controller="meetup_controller as vm">
<h1>Meetups</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Picture url</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br/>
  <tbody>
    <tr>
      <tr data-ng-repeat="meetupvm in vm.meetup_data">
        <td>{{meetupvm.title}}</td>
        <td>{{meetupvm.description}}</td>
        <td>{{meetupvm.email}}</td>
        <td>{{meetupvm.phone}}</td>
        <td>{{meetupvm.street}}</td>
        <td>{{meetupvm.city}}</td>
        <td>{{meetupvm.state}}</td>
        <td>{{meetupvm.picture_url}}</td>
        <td><button data-ui-sref="meetupShow({id: meetupvm.id})">Show</button></td>
        <td><button data-ng-click="MeetupIndexViewModel.destroy(meetupvm)">Delete</button></td>
      </tr>
  </tbody>
</table>
<br/>
<form data-ng-submit="MeetupIndexViewModel.create()">
  <input placeholder="New Meetup" data-ng-model="MeetupIndexViewModel.meetup.title" />
  <button type="submit">Create</button>
</form>
</main>
