<p>
  <strong>Title:</strong>
  <p>{{PostShowViewModel.post.title}}</p>
</p>

<p>
  <strong>Description:</strong>
  <p>{{PostShowViewModel.post.description}}</p>
</p>

<p>
  <strong>Email:</strong>
  <p>{{PostShowViewModel.post.email}}</p>
</p>

<p>
  <strong>Phone:</strong>
  <p>{{PostShowViewModel.post.phone}}</p>
</p>

<p>
  <strong>Street:</strong>
  <p>{{PostShowViewModel.post.street}}</p>
</p>

<p>
  <strong>City:</strong>
  <p>{{PostShowViewModel.post.city}}</p>
</p>

<p>
  <strong>State:</strong>
  <p>{{PostShowViewModel.post.state}}</p>
</p>

<p>
  <strong>Picture url:</strong>
  <p>{{PostShowViewModel.post.picture_url}}</p>
</p>
