<p>
  <strong>Title:</strong>
  <p>{{MeetupShowViewModel.meetup.title}}</p>
</p>

<p>
  <strong>Description:</strong>
  <p>{{MeetupShowViewModel.meetup.description}}</p>
</p>

<p>
  <strong>Url:</strong>
  <p>{{MeetupShowViewModel.meetup.url}}</p>
</p>
