<main data-ng-controller="category_controller as vm">
<h1>Categories</h1>
  <br/>
    <div data-ng-repeat="categoryvm in vm.cat_data">
      <strong><h3><a data-ui-sref="categoryShow({id: categoryvm.id})">{{categoryvm.name}}</a></h3></strong>
    </div>
</main>
