<main data-ng-controller="category_controller as vm">
<tr data-ng-repeat="categoryvm in vm.cat_data">
  <strong>Name:</strong>
  <a data-ui-sref="categoryShow({id: categoryvm.id})">{{categoryvm.name}}</a>
</tr>
<form data-ng-submit="CategoryIndexViewModel.update()">
  <input placeholder="Category Name" data-ng-model="CategoryIndexViewModel.category.name" />
  <button type="submit">Edit</button>
</form>
</main>
