<main data-ng-controller="comment_controller as vm">
<h1>Comments</h1>
<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br/>
  <tbody>
      <tr data-ng-repeat="commentvm in vm.com_data">
        <td>{{commentvm.comment}}</td>
        <td><button data-ui-sref="commentShow({id: commentvm.id})">Show</button></td>
        <td><button data-ng-click="CommentIndexController.destroy(commentvm)">Delete</button></td>
      </tr>
  </tbody>
</table>
<br/>
<form data-ng-submit="CommentIndexViewModel.create()">
  <input placeholder="New Comment" data-ng-model="CommentIndexViewModel.comment.comment" />
  <button type="submit">Create</button>
</form>
</main>
