<p>
  <strong>Title:</strong>
  <p>{{JobShowViewModel.job.title}}</p>
</p>

<p>
  <strong>Description:</strong>
  <p>{{JobShowViewModel.job.description}}</p>
</p>

<p>
  <strong>Url:</strong>
  <p>{{JobShowViewModel.job.url}}</p>
</p>
