<p>
  <strong>Title:</strong>
  <p>{{JobShowViewModel.job.title}}</p>
</p>

<p>
  <strong>Description:</strong>
  <p>{{JobShowViewModel.job.description}}</p>
</p>

<p>
  <strong>Email:</strong>
  <p>{{JobShowViewModel.job.email}}</p>
</p>

<p>
  <strong>Phone:</strong>
  <p>{{JobShowViewModel.job.phone}}</p>
</p>

<p>
  <strong>Street:</strong>
  <p>{{JobShowViewModel.job.street}}</p>
</p>

<p>
  <strong>City:</strong>
  <p>{{JobShowViewModel.job.city}}</p>
</p>

<p>
  <strong>State:</strong>
  <p>{{JobShowViewModel.job.state}}</p>
</p>

<p>
  <strong>Picture url:</strong>
  <p>{{JobShowViewModel.job.picture_url}}</p>
</p>
