<main data-ng-controller="post_controller as vm">
<h1>Posts</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Picture url</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br/>
  <tbody>
    <tr>
      <tr data-ng-repeat="postvm in vm.post_data">
        <td>{{postvm.title}}</td>
        <td>{{postvm.description}}</td>
        <td>{{postvm.email}}</td>
        <td>{{postvm.phone}}</td>
        <td>{{postvm.street}}</td>
        <td>{{postvm.city}}</td>
        <td>{{postvm.state}}</td>
        <td>{{postvm.picture_url}}</td>
        <td><button data-ui-sref="postShow({id: postvm.id})">Show</button></td>
        <td><button data-ng-click="PostShowViewModel.update(PostShowViewModel.postvm)">Edit</button></td>
        <td><button data-ng-click="PostShowViewModel.destroy(PostShowViewModel.postvm)">Delete</button></td>
      </tr>
  </tbody>
</table>
<br/>
<form data-ng-submit="PostShowViewModel.create(PostShowViewModel.newPost)">
  <input placeholder="New Post" data-ng-model="PostShowViewModel.newPost.post" />
  <button type="submit">Create</button>
</form>
</main>
