<main data-ng-controller="home_controller as vm">
<h2>Home</h2>
  <br/>
    <strong><h3><a data-ui-sref="jobIndex()">Jobs</a></h3></strong>
    <strong><h3><a data-ui-sref="meetupIndex()">Meetups</a></h3></strong>
</main>
