<main data-ng-controller="home_controller as vm">
  <br/>
  <strong class="text-center"><h1>Welcome to JamSwap!</h1></strong>
  <strong class="text-center"><h2>Featuring Web Dev Jobs and Meetups.</h2></strong>
</main>
