



<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>{{UserShowViewModel.user.email}}</td>
      </tr>
  </tbody>
</table>
