<main data-ng-controller="user_controller as vm">
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr data-ng-repeat="user in vm.user_data">
        <td>{{user.email}}</td>
      </tr>
  </tbody>
</table>
