<html data-ng-controller="user_controller as vm">
<div data-ng-repeat="user in vm.user_data">
<p>
  <strong>Email:</strong>
  <tr>
    {{user.email}}
  </tr>
</p>
<p>
  <strong>Posts:</strong>
  <ul>
      <li>
        {{user.posts.title}}
      </li>
  </ul>
</p>
<p>
  <strong>Comments:</strong>
  <ul>
      <li>
        {{user.comments.comment}}
      </li>
  </ul>
</p>
</div>
<form data-ng-submit="UserShowViewModel.update(UserShowViewModel.user)">
  <input placeholder="User Email" data-ng-model="UserShowViewModel.user.email" />
  <button type="submit">Edit</button>
</form>
</html>
