<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>
<form data-ng-submit="CommentShowViewModel.update(CommentShowViewModel.comment)">
  <input placeholder="Comment" data-ng-model="CommentShowViewModel.comment.comment" />
  <button type="submit">Edit</button>
</form>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
